* {
  font-family: "Jersey 20", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*Border around meter with styling*/
#meter-section {
  padding: 20px;
  margin: 20px;
  background-image: linear-gradient(to bottom left, rgb(246, 194, 235), rgb(244, 240, 205), white);
}

/* Flex container for sections */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flex container for emojis (form) */
.meter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Wrapper for just sentiment faces */
#sentiments-wrap {
  display: flex;
  gap: 20px;
}

/* Visual indication that the face is selected */
input[type="radio"]:checked + .face-icon{
    transform: scale(1.2);
}

/* Adjust spacing between emojis (faces) */
.meter label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

/* Style the submit button */
button[type="submit"] {
  margin-top: 10px;
  background-image: gray;
}

/*hover effects for face-icons*/
.face-icon {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/*hover effects for face-icons*/
.face-icon:hover {
  transform: scale(1.2);
}

/*Border around breakdown section with styling*/
#breakdown-section {
  color: white;
  padding: 20px;
  margin: 20px;
  background-color: #045964;
}

/*effects for percentage breakdowns*/
#breakdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* center percentage circles above label */
.pct_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.percent {
  width: 50px;
  height: 50px;
  background-color: #56b1ed;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.percent:hover {
  transform: scale(1.1);
}

#upset_pct {
  background-color: #e74c3c;
}

#unhappy_pct {
  background-color: #f39c12;
}

#neutral_pct {
  background-color: #2ecc71;
}

#happy_pct {
  background-color: #3498db;
}

#joyful_pct {
  background-color: #9b59b6;
}

/* upset emoji color on form */
input[type="radio"][value="upset"] + .face-icon path {
  fill: #e74c3c;
}

/* unhappy emoji color on form */
input[type="radio"][value="unhappy"] + .face-icon path {
  fill: #f39c12;
}

/* neutral emoji color on form */
input[type="radio"][value="neutral"] + .face-icon path {
  fill: #2ecc71;
}

/* happy emoji color on form */
input[type="radio"][value="happy"] + .face-icon path {
  fill: #3498db;
}

/* joyful emoji color on form */
input[type="radio"][value="joyful"] + .face-icon path {
  fill: #9b59b6;
}